---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Tari">
  <img src="/images/line-about.svg" class="absolute top-0 left-0 w-[50px]" />
  <div class="bg-[#192bff]">
    <h1 class="text-6xl text-center text-white py-52 px-80">
      Peru´s favorite hot sauces <span class="text-[#d1ff03]">owns</span> a <span
        class="text-[#d1ff03]">63%</span
      >
      of market share, and have now arrived to the US!
    </h1>
    <img
      src="/images/stamp.svg"
      class="absolute top-[160px] right-[180px] w-40"
    />
  </div>
  <div class="h-[1050px]"></div>
  <section class="absolute top-[450px]">
    <div class="flex flex-row">
      <div class="flex flex-col items-center p-20">
        <picture>
          <img
            src="/images/tari-about-us-2.png"
            alt=""
            class="-rotate-3 py-8 mx-10"
          />
        </picture>
        <picture>
          <img
            src="/images/tari-about-us.png"
            alt=""
            class="rotate-3 py-8 mx-10"
          />
        </picture>
      </div>
      <div class="">
        <picture>
          <img
            src="/images/background-text-about-us.png"
            alt=""
            class="p-28"
          />
          <img
            src="/images/llama-about-us.svg"
            alt=""
            class="absolute top-[180px] left-[910px]"
          />
          <div
            class="absolute top-[320px] left-[770px] w-[400px] h-[1000px] text-center text-4xl gap-8 text-[#192bff] font-semibold"
          >
            <p>
              This is about peppers as Peruvian as the llama, and the wild
              patterns that have been passed down for generations.
            </p>
            <br />
            <p>
              Tari consumers like spice and seek foods and flavors that are new
              and different. Rather than being put off by cuisine from cultures
              they don’t know, they are drawn to it.
            </p>
            <br />
            <p>From Peru, with a kick!</p>
          </div>
        </picture>
      </div>
    </div>
  </section>
  <section>
    <div class="w-80 text-center mx-52">
      <h2 class="text-2xl text-[#192bff] font-bold">tari</h2>
      <p>
        New hot sauce brand endorsed by the leading CPG company in Peru with a
        top-of-mind portfolio and leading brands. 3.6 USD billion revenues 2022
        LTM
      </p>
      <img src="/images/alicorp.webp" alt="" />
    </div>
    <img src="/images/machu-pichu.webp" alt="" class="">
    <div class="absolute top-[2150px] -left-[120px] w-80 text-center mx-52 text-3xl text-[#192bff] font-semibold">
      <p>Machu Picchu, one of the seven wonders of the world</p>
      <img 
        src="/images/imagen-glass.png" 
        alt="" 
        class="size-12 absolute top-[80px] left-[100px]"
      />
    </div>
  </section>

  <img src="/images/line-about.svg" class="absolute top-0 right-0 w-[50px]" />
</Layout>
