---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Waves from '../icons/Waves.astro';
import Slider from '../components/Slider';
import FoodTypes from '../components/FoodTypes.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Slider client:load/>
		<div class="flex flex-col bg-[#FDF3E9] items-center justify-center">
			<FoodTypes />
		</div>
	</main>
</Layout>

<style>
</style>
