---

---

<div class="w-2/5">
  <h2 class="md:text-4xl lg:text-6xl mb-4 font-semibold">Two unique flavors, infinite pairings.</h2>
  <p class="md:text-sm lg:text-2xl">
    Squeeze it, spread it, dip it, or smother it on everything from tacos to
    burgers to eggs to chinese takeout to order-in pizza or just about anything
    and discover what it’s like to eat diferente.
  </p>
  <button class="bg-[#192bff] text-white px-6 py-3 rounded-full text-xl mt-8">View more</button>
</div>
<picture>
  <img src="/images/eat_flavors.webp" alt="">
</picture>
