---

---

<div class="container text-center md:w-2/3 lg:w-3/5">
  <h2 class="text-[#ff8617] md:text-4xl lg:text-6xl m-10 font-semibold">
    Tari´s versatile flavor goes with everything
  </h2>
</div>
<div
  class="flex flex-row items-center justify-center text-[#192bff] text-center font-bold text-3xl gap-14 m-12"
>
  <div class=" flex flex-col items-center justify-center">
    <picture>
      <img src="/images/Burgers.svg" alt="" class="size-20"/>
    </picture>
    <span>Burgers</span>
  </div>
  <div>
    <picture>
      <img src="/images/Fries.svg" alt="" class="size-20"/>
    </picture>
    <span>Fries</span>
  </div>
  <div>
    <picture>
      <img src="/images/Eggs.svg" alt="" class="size-20"/>
    </picture>
    <span>Eggs</span>
  </div>
  <div>
    <picture>
      <img src="/images/Rice.svg" alt="" class="size-20"/>
    </picture>
    <span>Rice</span>
  </div>
  <div>
    <picture>
      <img src="/images/Fish.svg" alt="" class="size-20"/>
    </picture>
    <span>Fish</span>
  </div>
  <div>
    <picture>
      <img src="/images/Tacos.svg" alt="" class="size-20"/>
    </picture>
    <span>Tacos</span>
  </div>
</div>
