---
import Logo from "../icons/Logo.astro";
import Waves from "../icons/Waves.astro";
---

<header
  class="bg-[#192bff] flex flex-row items-center justify-between text-white lg:text-2xl"
>
  <ul class="flex flex-row gap-6 m-12">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About Us</a></li>
  </ul>
  <div class="">
    <Logo />
  </div>
  <ul class="flex flex-row m-12 gap-6">
    <li><a href="#">Everything Sauce</a></li>
    <li><a href="#">Contact</a></li>
    <li>
      <picture>
        <img src="/images/icon-loupe.svg" alt="" class="size-6 mx-2">
      </picture>
    </li>
  </ul>
</header>
