---
import Logo from "../icons/Logo.astro";
---

<header class="fixed w-full z-10 flex flex-row items-center justify-between text-white lg:text-2xl">
  <ul class="flex flex-row gap-6 m-12">
    <li><a href="#">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">About Us</a></li>
  </ul>
  <div class="">
    <Logo />
  </div>
  <ul class="flex flex-row m-12 gap-6">
    <li><a href="#">Everything Sauce</a></li>
    <li><a href="#">Contact</a></li>
    <li>
      <picture>
        <img src="/images/icon-loupe.svg" alt="" class="size-6 mx-2">
      </picture>
    </li>
  </ul>
</header>

<style>
  header {
    background-image: url(/images/nav_pattern.svg);
    height: 155px;
  }
</style>
