---
import Logo from "../icons/Logo.astro";
---

<header class="fixed w-full z-20 text-white lg:text-2xl px-6">
  <div class="flex flex-row items-center justify-between py-5">
    <ul class="flex flex-row gap-10 mx-6 ">
      <li><a href="/" class="hover:text-orange-300">Home</a></li>
      <li><a href="/products/" class="hover:text-orange-300">Products</a></li>
      <li><a href="/aboutUs/ " class="hover:text-orange-300">About Us</a></li>
    </ul>
    <div >
      <Logo />
    </div>
    <ul class="flex flex-row mx-6 gap-10">
      <li><a href="#">Everything Sauce</a></li>
      <li><a href="#">Contact</a></li>
      <li>
        <picture>
          <img src="/images/icon-loupe.svg" alt="" class="size-6 mx-2">
        </picture>
      </li>
    </ul>
  </div>
  
</header>

<style>
  header {
    background-image: url(/images/nav_pattern.svg);
    height: 145px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
</style>
