---

---

<div class="p-40 ">
  <p class="text-[#192bff] text-center text-8xl font-bold mb-12">
    Made with Peruvian
    <span class="text-[#fd7e14]">signature peppers</span> that grow in Peru, bringing
    unique flavors and textures.
  </p>
  <picture>
    <img src="/images/mapa.webp" alt="" />
  </picture>
</div>
