---

---

<div class="flex flex-col">
  <div class="flex flex-row">
    <picture class="w-1/2 h-full">
      <img src="/images/vector-separator1.svg" alt="" class="bg-[#FDF3E9]">
    </picture>
    <picture class="w-1/2">
      <img src="/images/vector-separator1.svg" alt="" class="bg-[#192bff]">
    </picture>
  </div>

  <div class="flex flex-row ">
    <div class=' flex bg-[#FDF3E9] w-1/2 items-center justify-center'>
      <picture>
        <img src="/images/alicorp.svg" alt="" class="size-48"/>
      </picture>
    </div>

    <div class="bg-[#192bff] w-1/2 p-6 text-white flex flex-row">
      <div class="w-3/4">
        <picture>
          <img src="/images/llama.svg" alt="" class="size-20 mb-4"/>
        </picture>
        <h1 class="text-4xl font-bold mb-4">From </br> Peru </br> whit pride</h1> 
        <p>
          Tari isn’t just a delicious, creamy Hot Sauce, it’s a taste of our culture.
          From our friend the llama, who is lucky to call Peru its home, to the colors
          on the label, to the robust flavors inside, it´s a symbol of our joyous
          spirit, vibrancy, elegance – and of course, our love for all things
          delicious.
        </p>
        <button class="bg-white text-[#192bff] px-6 py-3 rounded-full text-xl mt-8 mb-10">View more</button>
      </div>
      <picture class="flex items-center justify-center">
        <img src="/images/stamp.svg" alt="" class="size-48 "/>
      </picture>
    </div> 
  </div>
</div>

