---

---
<picture class="flex flex-row">
  <img src="/images/vector-separator2.svg" alt="" class="bg-[#FDF3E9] w-1/2" />
  <img src="/images/vector-separator2.svg" alt="" class="bg-[#FDF3E9] w-1/2" />
</picture>
<div class="flex flex-row items-center justify-center text-[#192bff]">
  <div class="p-14 m-6">
    <h1 class="text-center text-5xl font-bold mb-4">Let’s get it clear!</h1>
    <p class="text-2xl">Tari’s signature Peruvian peppers are unlike any other peppers in the world.</p>
    <picture>
      <img src="/images/sauces.webp" alt="">
    </picture>
  </div>
  <div class="p-8">
    <h2 class="text-center text-5xl font-bold mb-12">Peppers as Peruvian as our llama</h2>
    <picture>
      <img src="/images/table-sauce-comparative-desktop.webp" alt="">
    </picture>
  </div>
</div>
<div class="flex flex-row bg-[#d1ff03]">
  <img src="/images/separator.svg" alt="">
  <p class="text-3xl mx-4 text-[#192bff]">Add some heat to social  media</p>
  <img src="/images/separator.svg" alt="">
  <p class="text-3xl mx-4 text-[#192bff]">Add some heat to social  media</p>
  <img src="/images/separator.svg" alt="">
  <p class="text-3xl mx-4 text-[#192bff]">Add some heat to social  media</p>
</div>

