---

---

<div class="flex lg:flex-row md:flex-col justify-around my-40">
  <div class="flex flex-col text-center w-[500px] h-[890px] ">
    <picture>
      <img src="/images/rocoto1.jpg" class="w-full h-[350px]" />
    </picture>
    <div class="bg-[#ff4438] text-white rounded-b-2xl h-2/3 flex flex-col gap-6 items-center justify-center p-6">
      <h2 class="font-bold text-4xl">With 100% Peruvian Rocoto Pepper</h2>
      <p class="text-3xl">Spicy & Smoky</p>
      <img src="/images/separator_card.svg" />
      <p class="text-2xl">Try Peruvian Rocoto Pepper in everything</p>
      <picture class="flex flex-row items-center justify-center">
        <img src="/images/FUEGO1.svg" alt="" />
        <img src="/images/FUEGO1.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
      </picture>
      <button class="hover:text-white hover:bg-[#192bff] bg-white text-[#192bff] px-6 py-3 rounded-full text-xl mt-8 font-bold">View more</button>
    </div>
    <picture class="absolute bottom-[-900px] left-[30px]">
      <img src="/images/rombo-rocoto-peper.svg" class="w-[280px]">
      <p class="absolute bottom-[90px] left-[40px] z-10 text-white">
        Flavorful, peruvian Aji <br> Rocoto pepper. It may trick<br> you to be a bell pepper, but<br> it´s nothing alike!
      </p>
    </picture>
    <picture>
      <img src="/images/leaf_left.svg" class="absolute -z-10 top-[700px] left-[-100px] h-[850px]">
    </picture>
  </div>


  <div class="flex flex-col text-center w-[500px] h-[890px] ">
    <picture>
      <img src="/images/peruvian1.jpg" class="w-full h-[350px]"/>
    </picture>
    <div class="bg-[#fd7e14] text-white rounded-b-2xl h-2/3 flex flex-col gap-9 items-center justify-center p-6">
      <h2 class="font-bold text-4xl">With 100% Peruvian Amarillo Pepper</h2>
      <p class="text-3xl">Mild and Tangy</p>
      <img src="/images/separator_card.svg" />
      <p class="text-2xl">Try Peruvian Amarillo Pepper in everything</p>
      <picture class="flex flex-row items-center justify-center">
        <img src="/images/FUEGO1.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
        <img src="/images/FUEGO2.svg" alt="" />
      </picture>
      <button class="hover:text-white hover:bg-[#192bff] bg-white text-[#192bff] 
        px-6 py-3 rounded-full text-xl mt-8 font-bold">View more</button>
    </div>
    <picture class="absolute top-[380px] right-[10px]">
      <img src="/images/rombo-amarillo-peper.svg" class="w-[280px]">
      <p class="absolute top-[60px] right-[45px] z-10 text-[#192bff]">
        Versatile, peruvian Aji <br> Amarillo pepper. It may<br> look like a typical jalapeño<br> but it´s nothing alike!
      </p>
    </picture>
    <picture>
      <img src="/images/leaf_right.svg" class="absolute -z-10 top-[1000px] h-[750px] right-0">
    </picture>
  </div>

</div>
