---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<footer class="bg-[#FDF3E9] flex flex-row text-[#192bff]">
			<Footer />
		</footer>
	  <div class="bg-[#192bff] flex items-center justify-center p-8">
		<img src="/images/tari-brand-footer.png" alt="" class="w-[470px] h-[170px] ">
	  </div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background:  bg-[#FDF3E9];
		background-size: 224px;
		margin: 0;
		padding: 0;
	}
</style>
